.App {
  text-align: center;
}

button {
  margin: 0 auto;
  display: block;
}

#btn {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}
.visible {
  visibility: visible;
  height: auto;
  border: none;
}

.hidden {
  visibility: hidden;
  height: 0;
}
